<%- include("templates/encabezado.ejs") %>
<%- include("templates/menu.ejs") %>
<h1>Nuevo Usuario</h1>

<form action="/nuevoUsuario" method="post" id="formulario">
    <div>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario" autofocus>
        <span id="mensajeUsuario"></span>
    </div>
    <div>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <span id="mensajeNombre"></span>
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="Password">
        <span id="mensajePassword"></span>
    </div>
    <div>
        <button type="submit">Guardar usuario</button>
    </div>
</form>
<%- include("templates/pie.ejs") %>